@import "layers";
@import "article";

* {
	margin     : 0;
	padding    : 0;
	box-sizing : border-box;
}

:root {
	--font-index : calc(1vw + 1vh);
	--transition : transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
	font-family : raleway_f;
	src         : url(../../fonts/raleway-regular.woff2) format("woff2");
}

@font-face {
	font-family : raleway_f;
	src         : url(../../fonts/raleway-black.woff2) format("woff2");
	font-weight : 900;
}
@debug calc(var(--font-index) * 1.5);
body {
	background  : #010101;
	font-family : raleway_f, sans-serif;
	line-height : 1.55;
}

.content {
	will-change : transform;
}